<app-header></app-header>
<main>
    <app-post-create (postCreated)="onPostAdded($event)"></app-post-create> <!-- name the event emiited property - using that we can pass emitted value to other fun in app.ts using $event to create a new variable and then pass it to another component using the app.ts--> 
    <app-post-list [posts]="storedPosts"></app-post-list> <!--Property binding from Stored Posts to posts // Passing data from one component to another using Output, Input and EventEmitting and Binding-->
</main>